.nav{margin-bottom: 0;}
.oracle_banner img{display: none}
.oracle_banner_a{height: 625px;background: transparent url("../img/oracle_banner.png") no-repeat scroll top center;}
.oracle_pass{height: 770px;background:transparent url("../img/oracle_pass.png") no-repeat scroll top center;color: #fff;text-align: center}
.oracle_pass h2{font-size: 30px;font-weight: bold;padding-top: 35px;}
.oracle_pass .title{font-size: 20px;line-height: 45px;}
.oracle_pass .container{width: 1200px;padding: 0;margin-top: 30px;}
.oracle_pass .container .table_header{width: 575px;line-height: 40px;font-size: 14px;text-align: center;position: relative;z-index: 222;left: 0;top: 0;}
.oracle_pass .container .table_header div{background-color: #ff4444}
.oracle_pass .container .table_header  .name,.oracle_pass .container .table_header .education{width: 20%;float: left}
.oracle_pass .container .table_header .project{width: 25%;float: left}
.oracle_pass .container .table_header .company{width: 35%;float: left}
.oracle_pass .container table{color: #333;width: 100%;position: relative;left: 0;top:0;font-size: 14px;}
.oracle_pass .container table  .name,.oracle_pass .container table .education{width: 20%;}
.oracle_pass .container table .project{width: 25%;color: #e83737;}
.oracle_pass .container table .company{width: 35%;}
.oracle_pass .container table tr th,.oracle_pass .container table tr td{font-weight: normal;text-align: center;line-height: 40px;}
.oracle_pass .container .one{background-color: #fafafa}
.oracle_pass .container .two{background-color: #f5f5f5}
.oracle_pass .container .col-md-6{padding: 0;}
.oracle_pass .container .left,.oracle_pass .container .right{height: 440px;overflow: hidden;}
.oracle_pass .container .left{float: left}
.oracle_pass .container .right{float: right}
.oracle_pass .btm{text-align: center;margin: 60px 0;}
.oracle_pass .btm a{display: inline-block;width: 400px;line-height: 60px;border-radius: 15px;background:transparent url(../img/oracle_btm_img01.png) no-repeat scroll top center;color: #ff4444;font-weight: bold;font-size: 18px;}
.oracle_job{background-color: #f9f9f9;padding-bottom: 50px;}
.oracle_job .title{padding: 55px 0;font-size: 30px;text-align: center;font-weight: bold;color: #333333;}
.oracle_job .title span{color: #ff4444}
.oracle_job .container{width: 1200px;padding: 0;}
.oracle_job .container .col-md-4{padding: 0;}
.oracle_job .container .col-md-4 .item{width: 380px;margin: auto;background-color: #fff;min-height: 560px;transition: all .5s;}
.oracle_job .container .col-md-4 .item h3{font-size: 18px;color: #333;text-align: center;font-weight: bold;line-height: 34px;padding-top: 25px;}
.oracle_job .container .col-md-4 .item h3 span{color:#e83737}
.oracle_job .container .col-md-4 .item .con{color: #333;font-size: 14px;font-weight: bold;padding-bottom: 15px;}
.oracle_job .container .col-md-4 .item .con img{width: 100%;padding: 5px;}
.oracle_job .container .col-md-4 .item .con p{width: 80%;margin: 10px auto 0;line-height: 24px;}
.oracle_job .container .col-md-4 .item .con p span{color:#e83737}
.oracle_job .container .col-md-4 .item:hover{box-shadow: 1px -2px 33px #e6e6e6;transform: translateY(-.5%)}
.oracle_job .btm{margin: 55px 0 0;text-align: center}
.oracle_job .btm a{display: inline-block;font-weight: bold;line-height: 60px;border-radius: 15px;background-color: #ff4444;color: #fff;font-size: 18px;width: 400px;}
.oracle_reliable{background: transparent url("../img/oracle_reliable.png") no-repeat scroll top center;}
.oracle_reliable .title{font-size: 30px;padding: 55px 0;font-weight: bold;text-align: center;color: #fff;}
.oracle_reliable .con{width: 1020px;margin: auto;position: relative;min-height: 950px;}
.oracle_reliable .con .item{padding: 15px;width: 450px;height: 160px;background-color: #fff;position: absolute;}
.oracle_reliable .con .item b,.oracle_reliable .con .item span{max-width: 280px;margin-left: 10px;}
.oracle_reliable .con .item b{font-size: 20px;color: #e83737;padding-bottom: 5px;}
.oracle_reliable .con .item span{line-height: 22px;color: #333333;font-size: 14px;}
.oracle_reliable .con .item:nth-child(1){top: 100px;left: 0;}
.oracle_reliable .con .item:nth-child(2){top: 247px;right: 0;}
.oracle_reliable .con .item:nth-child(3){top: 400px;left: 0;}
.oracle_reliable .con .item:nth-child(4){top: 543px;right: 0;}
.oracle_reliable .con .item:nth-child(5){top: 700px;left: 0;}
.oracle_reliable .btm{padding: 60px 0;text-align: center}
.oracle_reliable .btm a{width: 400px;display: inline-block;line-height: 60px;background-color: #ff4444;color: #fff;border-radius: 15px;font-size: 18px;font-weight: bold}
.oracle_reliable .container{margin: auto;position: relative}
.oracle_reliable .left{float: left}
.oracle_reliable .right{float: right}
.teacher .item{background-color: #fff;}
.teacher .item .name{color: #f04848}
.oracle_success{background-color: #f9f9f9;}
.oracle_success h2{font-size: 30px;color: #333;font-weight: bold;text-align: center;padding-top: 35px;}
.oracle_success h2 span{color: #ff4444;}
.oracle_success .title{line-height: 60px;text-align: center;font-size: 20px;color: #666666;}
.oracle_success .container{padding: 0 0 50px;}
.oracle_success .container .item{width: 20%;float: left}
.oracle_success .container .item .con{width: 220px;min-height: 335px;margin: auto;background-color: #fff;}
.oracle_success .container .item .con:hover{box-shadow: 0 0 13px #e6e6e6;transform: translateY(-.5%);transition: all .5s;background-color: #ff5e5e}
.oracle_success .container .item .con i{display: inline-block;width: 90px;height: 110px;margin: 60px 65px 25px;background: transparent url("../img/oracle_icon1.png") scroll no-repeat -41px -104px;}
.oracle_success .container .item:nth-child(2) .con i{background: transparent url("../img/oracle_icon1.png") scroll no-repeat -284px -104px;}
.oracle_success .container .item:nth-child(3) .con i{background: transparent url("../img/oracle_icon1.png") scroll no-repeat -526px -104px;}
.oracle_success .container .item:nth-child(4) .con i{background: transparent url("../img/oracle_icon1.png") scroll no-repeat -770px -104px;}
.oracle_success .container .item:nth-child(5) .con i{background: transparent url("../img/oracle_icon1.png") scroll no-repeat -1011px -104px;}
.oracle_success .container .item .con b,.oracle_success .container .item .con span{display: inline-block;width: 100%;}
.oracle_success .container .item .con b{font-size: 18px;color: #ff5e5e;line-height: 32px;text-align: center}
.oracle_success .container .item .con span{font-size: 14px;color: #333333;padding: 0 15px;line-height: 18px;}
.oracle_success .container .item:nth-child(1) .con:hover i{background: transparent url("../img/oracle_icon1.png") scroll no-repeat -41px -2px;}
.oracle_success .container .item .con:hover b{color: #fff;}
.oracle_success .container .item .con:hover span{color: #fff;}
.oracle_success .container .item:nth-child(2) .con:hover i{background: transparent url("../img/oracle_icon1.png") scroll no-repeat -284px -2px;}
.oracle_success .container .item:nth-child(3) .con:hover i{background: transparent url("../img/oracle_icon1.png") scroll no-repeat -526px -2px;}
.oracle_success .container .item:nth-child(4) .con:hover i{background: transparent url("../img/oracle_icon1.png") scroll no-repeat -770px -2px;}
.oracle_success .container .item:nth-child(5) .con:hover i{background: transparent url("../img/oracle_icon1.png") scroll no-repeat -1011px -2px;}
.oracle_success .btm{text-align: center;padding-bottom: 50px;}
.oracle_success .btm a{display: inline-block;width: 400px;line-height: 60px;font-weight: bold;font-size: 18px;color: #fff;background-color: #ff5e5e;border-radius: 15px;}
.oracle_direction{background-color: #414144;min-height: 635px;}
.oracle_direction h2{font-size: 30px;color: #fff;font-weight: bold;text-align: center;padding-top: 30px;}
.oracle_direction h2 span{color: #ff5e5e}
.oracle_direction .title{color: #fff;font-size: 20px;text-align: center;line-height: 60px;}
.oracle_direction .con{width: 1100px;margin: auto;}
.oracle_direction .con .left{width: 450px;height: 470px;padding-top: 15px;float: left}
.oracle_direction .con .left .item{display: inline-block;float: left;width: 360px;margin-bottom: 100px;position: relative;line-height: 80px;text-align: center;font-weight: bold;border-radius: 15px;}
.oracle_direction .con .left .item-1{background-color: #498eff;color: #fedb50;}
.oracle_direction .con .left .item-2{background-color: #ffbd49;color: #fe2539}
.oracle_direction .con .left .item-3{background-color: #ff4949;color: #fff}
.oracle_direction .con .left .item b{position: absolute;top: 45%;right: -8px;height: 16px;width: 16px;transform: rotate(45deg);display: none}
.oracle_direction .con .left .item-1 b{background-color: #498eff;}
.oracle_direction .con .left .item-2 b{background-color: #ffbd49;}
.oracle_direction .con .left .item-3 b{background-color: #ff4949;}
.oracle_direction .con .left .item:last-child{margin-bottom: 0;}
.oracle_direction .con .right{width: 650px;background:transparent url("../img/oracle_ipad.png") no-repeat scroll top center;height: 470px;position: relative;float: right}
.oracle_direction .con .right h3{font-size: 18px;text-align: center;color: #ff4444;font-weight: bold;padding-top: 20px;line-height: 30px;}
.oracle_direction .con .right .hh4{font-size: 14px;color: #333333;font-weight: bold;line-height: 36px;padding-top: 8px;}
.oracle_direction .con .right .text{font-size: 14px;color: #333333;line-height: 20px;}
.oracle_direction .con .right .item{position: absolute;left: 85px;top:45px;z-index: -1;width: 480px;background-color: #fafafa;overflow: hidden}
.oracle_direction .con .right .item-1{z-index: -1}
.oracle_direction .con .right .item-2{z-index: -1;}
.oracle_direction .con .right .item-3{z-index: -1;}
.oracle_direction .con .left .on b{display: block;}
.oracle_direction .con .right .on{z-index: 9;animation: myfirst 1s;-moz-animation: myfirst 1s;-webkit-animation: myfirst 1s;-o-animation: myfirst 1s;}
.oracle_huanjing{border-top: 1px solid #f2f2f2}
.oracle_huanjing h2{font-size: 30px;color: #333;text-align: center;padding-top: 20px;}
.oracle_huanjing h2 span{color: #ff4444}
.oracle_huanjing .title{font-size: 20px;color: #666666;line-height: 60px;text-align: center;padding-bottom: 20px;}
.oracle_huanjing .container{width: 1200px;padding: 0;}
.oracle_huanjing .container .item{width: 375px;margin: 0 auto 30px;border: 1px solid #f2f2f2}
.oracle_huanjing .container .item img{padding: 5px;width: 100%;}
.oracle_more{height: 740px;background: #fff url("../img/oracle_more_bg.png") no-repeat scroll top center;}
.oracle_more .more_head{height: 145px;box-shadow:1px 12px 20px #e3dfdf;border-top: 1px solid #ededed}
.oracle_more .more_head h2{font-size: 30px;text-align: center;font-weight: bold;color: #333;padding-top: 32px;}
.oracle_more .more_head h2 span{color: #ff4444;}
.oracle_more .more_head .title{font-size: 20px;color: #666666;line-height: 60px;text-align: center}
.oracle_more .con{width: 1200px;margin: auto}
.oracle_more .con .left{float: left}
.oracle_more .con .right{float: right}
.oracle_more .con p{width: 280px;border: 7px solid #fff;color: #fff;text-align: center;padding: 90px 0;margin-top: -5px;box-shadow:2px 2px 30px #999999;}
.oracle_more .con p b,.oracle_more .con p span{display: inline-block;width: 100%;line-height: 30px;}
.oracle_more .con p b{font-size: 30px;}
.oracle_more .con p span{font-size: 16px;}
.oracle_more .con .left p{background-color: #0bcfab}
.oracle_more .con  img{margin-left: 125px;}
.oracle_more .con .right p{background-color: #e14040}
.oracle_su{background-color: #f93d3d;overflow: hidden}
.oracle_su .con{width: 1200px;margin: auto;}
.oracle_su .con p{text-align: center;float: right;width: 360px;padding: 150px 0;}
.oracle_su .con p b{display: inline-block;width: 100%;font-size: 30px;color: #fff;}
.oracle_su .con p a{width: 340px;line-height: 60px;display: inline-block;font-size: 30px;font-weight: bold;border-radius: 5px;color: #e83737;background-color: #fee100;margin-top: 60px;}
.oracle_mobile{display: none}
.oracle_animate{transition: all 2s}
@media all and (max-width: 1200px){
    .oracle_pass .container,.oracle_pass .container .table_header,.oracle_huanjing .container,.oracle_huanjing .container .item{width: 100%;}
    .oracle_pass .container .left,.oracle_pass .container .right{width: 98%;}
    .oracle_pass .container table{font-size: 12px;}
    .oracle_job .container{width: 100%;}
    .oracle_job .container .col-md-4 .item{width: 98%;}
    .oracle_reliable .con{width: 996px;}
    .oracle_success .container .item .con{width: 98%;margin: auto}
    .oracle_success .container .item .con i{display: block;margin: 60px auto 20px}
    .oracle_direction .con{width: 996px;}
    .oracle_direction .con .left{width: 330px;}
    .oracle_direction .con .left .item{width: 300px;}
    .oracle_more .con{width: 996px;}
    .oracle_su .con{width: 996px;}
    .oracle_su .con img{width: 520px;line-height: 100%;}
    .oracle_su .con p{padding: 100px 0;}
    .floating from h2{display: none}
    .floating from input{margin-left: 20px;}
}
@media all and (max-width: 996px) {
    .oracle_mobile {display: block;background: #fff;font-size: 12px;height: 180px;overflow: hidden}
    .oracle_mobile  .table_header{width: 100%;line-height: 30px;text-align: center;position: relative;z-index: 222;left: 0;top: 0;}
    .oracle_mobile  .table_header div{background-color: #ff4444}
    .oracle_mobile  .table_header  .name,.oracle_mobile  .table_header .education{width: 20%;float: left}
    .oracle_mobile  .table_header .project{width: 25%;float: left}
    .oracle_mobile  .table_header .company{width: 35%;float: left}
    .oracle_mobile  table{color: #333;width: 100%;position: relative;left: 0;top:0;font-size: 12px;}
    .oracle_mobile  table  .name,.oracle_pass .container table .education{width: 20%;}
    .oracle_mobile  table .project{width: 25%;color: #e83737;}
    .oracle_mobile  table .company{width: 35%;}
    .oracle_mobile  table tr th,.oracle_pass .container table tr td{font-weight: normal;text-align: center;line-height: 30px;}
    .oracle_direction,.oracle_banner_a{display: none}
    .oracle_banner img{display: block;width: 100%;}
    .oracle_pass{background: #e83737;height: auto;}
    .oracle_pass .btm{margin: 0;padding: 10px 0;}
    .oracle_pass .container{display: none}
    .oracle_job .title{padding: 20px 0;font-size: 25px;}
    .oracle_job .container .col-md-4 .item{min-height: 375px;}
    .oracle_success h2{font-size: 25px;padding-top: 20px;}
    .oracle_job .container .col-md-4 .item .con p{font-weight: normal;width: 90%;margin: 0 auto}
    .oracle_job .container .col-md-4 .item .con img{padding: 0;}
    .oracle_reliable{background: #1e80d2;}
    .oracle_reliable .con{width: 100%;min-height: inherit}
    .oracle_reliable .con .item{position: inherit;margin: 0 auto 15px;}
    .oracle_reliable .con .item:nth-child(1),.oracle_reliable .con .item:nth-child(2),.oracle_reliable .con .item:nth-child(3),.oracle_reliable .con .item:nth-child(4),.oracle_reliable .con .item:nth-child(5){top: 0}
    .oracle_reliable .title{padding: 25px 0;}
    .oracle_success .container{width: 100%;}
    .oracle_reliable .con .item{width: 500px;}
    .oracle_reliable .con .item b{width: 330px;}
    .oracle_reliable .con .item span{display: inline-block}
    .oracle_success .container .item{width: 50%;text-align: center}
    .oracle_success .container .item:last-child{width: 100%;}
    .oracle_success .container .item .con {min-height: inherit;padding-bottom: 10px;}
    .oracle_success .container .item .con i{margin: 20px auto;}
    .oracle_more .con{width: 100%;}
    .oracle_more{height: inherit;background:transparent;}
    .oracle_more .con  img{display: none;}
    .oracle_more .con .right,.oracle_more .con .left{width: 50%}
    .oracle_more .con p{margin: 20px auto 10px;}
    .oracle_more:after{clear: both;width: 100%;height: auto;display: block;content: "";float: left}
    .oracle_su{display: block;width: 100%;}
    .oracle_su .con{width: 100%;}
    .oracle_su .con p b{font-size: 25px;}
    .oracle_su .con img{display: none}
    .oracle_su .con p{width: 100%;text-align: center;padding: 60px 0;margin: auto;display: block;float: inherit}
    .oracle_huanjing h2,.oracle_more .more_head h2{font-size: 25px;}
    .oracle_success .container .item .con span{padding: 0;}

}
@media all and  (max-width: 515px){
    .oracle_success .container .item .con{min-height: 200px;}
    .oracle_pass h2{font-size: 18px;padding-top: 15px;}
    .oracle_pass .title{font-size: 14px;line-height: 20px;padding: 5px 15px;}
    .oracle_pass .btm a{width: 80%;background-size: cover;line-height: 45px;font-size: 14px;}
    .oracle_job{padding-bottom: 15px;}
    .oracle_job .title{padding: 15px 0 0;font-size: 18px;}
    .oracle_job .container .col-md-4 .item{min-height: 270px;}
    .oracle_job .container .col-md-4 .item .con p {font-size: 12px;}
    .oracle_job .container .col-md-4 .item h3{font-weight: normal;font-size: 16px;padding-top: 5px;margin-top: 10px;}
    .oracle_job .btm a{width: 80%;max-width: 350px;line-height: 45px;font-size: 14px;}
    .oracle_job .btm{margin-top: 15px;}
    .oracle_reliable .title{padding: 15px 0;font-size: 18px;}
    .oracle_reliable .con .item{width: 96%;padding: 8px;height: 144px;}
    .oracle_reliable .con .item img.left{margin-right: 5px;}
    .oracle_reliable .con .item img.right{margin-left: 5px;}
    .oracle_reliable .con .item b{display: none}
    .oracle_reliable .con .item span{font-size: 13px;line-height: 17px;word-break:break-all;display: inline;margin-left: 0;}
    .oracle_reliable .btm{padding: 15px 0;}
    .oracle_reliable .btm a{width: 80%;max-width: 350px;line-height: 45px;font-size: 14px;}
    .oracle_success h2{padding-top: 15px;font-size: 18px;}
    .oracle_success .title{font-size: 16px;line-height: 40px;}
    .oracle_success .container .item .con i{margin: 10px auto 0;}
    .oracle_success .btm a{width: 80%;max-width: 350px;line-height: 45px;font-size: 14px;}
    .oracle_success .container{padding-bottom: 15px;}
    .oracle_success .btm{padding-bottom: 15px;}
    .oracle_huanjing h2{font-size: 18px;}
    .oracle_huanjing .title,.oracle_more .more_head .title{font-size: 16px;line-height: 40px;}
    .oracle_huanjing .container .col-xs-6{padding: 0 5px;}
    .oracle_huanjing .container .item{margin-bottom: 8px;}
    .oracle_more .more_head h2{font-size: 18px;padding-top: 20px;}
    .oracle_more .more_head{height: 90px;}
    .oracle_more .con p{width: 98%;padding: 40px 0;border: 3px solid #fff;margin: auto;box-shadow: none}
    .oracle_more .con p span{font-size: 12px;}
    .oracle_more{height: auto;}
    .oracle_more .con{padding-bottom: 10px;overflow: hidden}
    .oracle_su .con p{padding: 15px 0;}
    .oracle_su .con p b{font-size: 18px;}
    .oracle_su .con p a{width: 80%;max-width: 320px;line-height: 45px;font-size: 14px;margin-top: 20px;}
}


@keyframes myfirst
{
    from {height: 0;}
    to {height: 358px;}
}